@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
   
    --body-color: #E4E9F7;
    --sidebar-color: rgb(217, 202, 247);
    --primary-color: #7A47EA;
    --primary-color-light: #e1d9f3;
    --toggle-color: #DDD;
    --text-color: #554977;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 360px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* =========================== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;

}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
t
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%) rotate(180deg);
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

/* Home Page */

.home{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.home p{
    font-size: 13px;
}

.button_to_2{
    color: #7A47EA;
    background-color: #c4aff1;
    outline: #7A47EA;
    font-size: 15px;
    float: left;
}

.button_to_2:hover{
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    outline: #181225;
    font-size: 15px;
    float: left;
}

.boxone{
    background-color: #dce4f8;
    width: 30%;
    height: 178px;
    border-radius: 1vh;
}

.boxtwo{
    text-align: center;
    background-color: #dce4f8;
    width: 18%;
    height: 178px;
    border-radius: 1vh;
}
.boxthree{
    text-align: center;
    background-color: #dce4f8;
    width: 35%;
    height: 178px;
    border-radius: 1vh;
}
.boxfour{
    background-color: #dce4f8;
    width: 30%;
    height: 178px;
    border-radius: 1vh;
}

.dig_clock{
    font-size: 30px;
    background-color: transparent;
}

.dig_date{
    font-size: 23px;
    height: 70px;
    background-color: transparent;
}

/* transaction details Page*/

.transac{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.transac .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .transac{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.transac .datetime{
    position: absolute;
    top: 5.2%;
    left: 70px;
    background-color:transparent;
    transition: var(--tran-05);
}
body.transac .datetime{
    color: var(--text-color);
}

.button_to_blue{
    color: #fff;
    background-color: #106cf7;
    float: right;
}

.button_to_blue:hover{
    color: #fff;
    background-color: #0B5ED7;
    float: right;
}

.button_to_red{
    color: #fff;
    background-color: #f33548;
    float: right;
}

.button_to_red:hover{
    color: #fff;
    background-color: #BB2D3B;
    float: right;
}

.button_to_green{
    color: #fff;
    background-color: #16b66b;
    float: right;
}

.button_to_green:hover{
    color: #fff;
    background-color: #157347;
    float: right;
}


/* Employee Registration */

.emplo-reg{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.emplo-reg .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .emplo-reg{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.emplo-reg .datetime{
    position: absolute;
    top: 5.2%;
    left: 70px;
    background-color: transparent;
    transition: var(--tran-05);
}
body.emplo-reg .datetime{
    color: var(--text-color);
}

.emplo-reg .search {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

/* Member Registration */

.member-reg{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.member-reg .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .member-reg{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.member-reg .datetime{
    position: absolute;
    top: 5.2%;
    left: 70px;
    background-color: transparent;
    transition: var(--tran-05);
}
body.member-reg .datetime{
    color: var(--text-color);
}

.member-reg .search {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

/* Reports */

.rprt{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.rprt .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .rprt{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.rprt .datetime{
    position: absolute;
    top: 5.2%;
    left: 70px;
    background-color: transparent;
    transition: var(--tran-05);
}
body.rprt .datetime{
    color: var(--text-color);
}

/* Button Colors */

.button_blue{
    color: #ffffff;
    background-color: #106cf7;
    float: right;
}

.button_blue:hover{
    color: #ffffff;
    background-color: #0B5ED7;
    float: right;
}

.button_blue_two{
    color: #ffffff;
    background-color: #106cf7;
    float: center;
}

.button_blue_two:hover{
    color: #ffffff;
    background-color: #0B5ED7;
    float: center;
}

.button_green{
    color: #ffffff;
    background-color: #16b66b;
    float: center;
}

.button_green:hover{
    color: #ffffff;
    background-color: #157347;
    float: center;
}

.button_red{
    color: #ffffff;
    background-color: #f33548;
    float: center;
}

.button_red:hover{
    color: #ffffff;
    background-color: #BB2D3B;
    float: center;
}


/* profile page*/

.userprofile{
    position: absolute;
    top: 3%;
    left: 350px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.userprofile .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .userprofile{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.userprofile .datetime{
    position: absolute;
    top: 5.2%;
    left: 70px;
    background-color:transparent;
    transition: var(--tran-05);
}
body.userprofile .datetime{
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


purpol{
    color:#7A47EA;
}